# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml}]
indent_size = 2


[*.{bat,cmd}]
indent_size = 4
indent_style = space
line_ending = crlf
encoding = utf-8
